
{% extends "base.html" %}
{% block title %}BlackJack{% endblock %}
{% block content %}
<div class="text-center my-5">
	<button class="btn btn-lg btn-warning" type="button" onclick='window.location="/draw/{{deck}}"')>
		Вытянуть карту
	</button>
</div>
{% if cards_left %}
<div class="text-center">
	<h3 class="text-warning mx-3"> Осталось в колоде {{cards_left}} карт</h3>
	<h3 class="text-warning mx-3"> У вас {{points_all}} очков</h3>
</div>

	{% if points_all>21 %}
	<div class="text-center my-5">
		<button class="btn btn-lg btn-danger" type="button" onclick='window.location="/"'>
			Перебор, Начать заново
		</button>
	</div>
	{% endif %}
<div class="card-columns">
  <div class="row">
  {% for card in my_cards %}
    <div class="col-md-3">
		<div class="text-center mx-4 my-4">
			  <img src={{card}}>
		</div>
    </div>
  {% endfor %}
  </div>
</div>

{% endif %}
{% endblock %}